.container-main {
  padding: 30px 375px 136px;
}

.form {
  &__title {
    color: $primary;
    font-size: 16px;
    font-weight: 500;
  }

  .personal-info-form {
    margin-top: 20px;

    .form-group {
      margin-bottom: 10px;
      padding: 8px 16px 6px;
      width: 616px;
      height: 56px;
      border-radius: 4px;
      border: 1px solid ($border-form);
      background: $bg-form;

      label {
        display: block;
        color: $header;
        font-size: 13px;
      }

      input {
        color: $primary;
        font-size: 14px;
        border: none;
        outline: none;
      }

      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
      }
    }

    .child-form-group {
      width: 260px;
      display: inline-block;
      margin-right: 18px;
      vertical-align: middle;
    }
  }

  .form__title.child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 23px 0 11px 0;
    width: 616px;
  }

  .child-title {
    color: $primary;
    font-size: 16px;
    font-weight: 500;
  }

  .add-child-button {
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 10px 20px;
    border-radius: 100px;
    border: 2px solid $btn-blue;
    color: $btn-blue;
    font-size: 14px;
    background-color: $bg-form;
    float: right;
  }

  .delete-child-button {
    cursor: pointer;
    border: none;
    color: $btn-blue;
    font-size: 14px;
    background-color: $bg-form;
  }

  .save-button {
    margin-top: 30px;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    color: $bg-form;
    font-size: 14px;
    background-color: $btn-blue;
    padding: 10px 20px;
  }
}
