.container-main {
  padding: 30px 375px 136px;
}

.preview {
  &__title {
    color: $primary;
    font-size: 16px;
    font-weight: 500;
  }

  &__data {
    margin: 20px 0 60px;
    color: $primary;
    font-size: 16px;
    font-weight: 700;
  }

  &__data-child {
    margin: 20px 0 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .child-container {
    padding: 10px 20px;
    border-radius: 5px;
    background: $border-form;
    color: $primary;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
    background: $border-form;
    margin-bottom: 20px;
  }
}
